@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.fondo{
    background-color: hsl(0, 0%, 29%);
}

.navbar{
    background-color: hsl(0, 0%, 29%);
}

.navbar2{
    height: 40px;
}

.barra{
    background-color: hsl(0, 0%, 87%);
}

.navbar-brand{
    color: orange;
    font-family: "Madimi One", sans-serif;
}

.nav-link:hover{
    color: orange;
}

main{
    height: auto;
    background-color: hsl(0, 0%, 87%);
}

.mainM{
    height: calc(100vh - 80px);
}

h1{
    color: #fff;
}

h3{
    color: orange;
}

.uno{
    border: 5px solid orange;
    border-radius: 15px;
    background-color: white;
}

footer{
    background-color: hsl(0, 0%, 29%);
    color: #fff;
    padding: 10px;
    height: 40px;
}

.piePaginas{
    background-color: hsl(0, 0%, 87%);

}

footer p{
    margin-bottom: 2px;
    float: right;
}

footer .redes a{
    text-decoration: none;
}

footer .redes i{
    color: white;
    font-size: 20px;
    letter-spacing: 20px;
}

