@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$color1: #4a4a4a; //Gris Oscuro//
$color2: #dedede; //Gris Claro//
$color3: #ffa600; //Naranja//
$color4: #ffffff; //blanco//
$color5: #ffa60039; //Naranja Opaco//

.carousel-control-prev-icon {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16"><path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/></svg>');
}

.carousel-control-next-icon {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16"><path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/></svg>');
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: $color5;
    opacity: 0.4;
}

.fondo{
    background-color: $color1;
}

.two{
    font-family: "Madimi One", sans-serif; 
    font-size: 200px;
    color: $color3;
}

.navbar{
    background-color: $color1;
}

.barra{
    background-color: $color2;
}

.navbar-brand{
    color: $color3;
    font-family: "Madimi One", sans-serif;
}
.five {
    .nav-link{
        color: white;
    }
}
.nav-link{
    color: $color1;
    font-weight: bold;
}

.nav-link:hover{
    color: $color3;
}

main{
    min-height: 90vh;
    background-color: $color2;
}

h1{
    color: $color4;
}

h3{
    color: $color3;
}

.uno{
    border: 5px solid $color3;
    border-radius: 15px;
    background-color: $color4;
}

.uno:hover{
    background-image: radial-gradient(circle, $color3, $color2 );
    animation-name: waves;
    animation-duration: 40s;
    animation-iteration-count: 1;
}
@keyframes waves{
    50%{
        background-image: radial-gradient(circle, $color2, $color3 );
    }

}

.cola:active{
    transform: scale(1.25);
}

.animate__animated.animate__bounceInUp{
    --animate-duration : 3s;
}

.imagen{
    filter: grayscale(100%);
    transform: scale(1.14);

}
.imagen:hover{
    filter: none;
}

.piePaginas{
    background-color: $color2;
    height: auto;

}

footer{
    background-color: $color1;
    color: $color4;
    padding: 10px;
    height: 40px;

    p{
        margin-bottom: 2px;
        float: right;
    }
    .redes{
        a{
        text-decoration: none;
        }
        i{
        color: $color4;
        font-size: 20px;
        letter-spacing: 20px;
        }
    }
}